@font-face {
  font-family: 'icons';
  src:  url('../icon-fonts/icons.eot?onuyaa');
  src:  url('../icon-fonts/icons.eot?onuyaa#iefix') format('embedded-opentype'),
    url('../icon-fonts/icons.ttf?onuyaa') format('truetype'),
    url('../icon-fonts/icons.woff?onuyaa') format('woff'),
    url('../icon-fonts/icons.svg?onuyaa#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-code:before {
  content: "\e902";
}
.icon-font:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-support:before {
  content: "\e905";
}
.icon-google:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
